body {
    width: 50em;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background: white;
}

header {
  display: block;
  padding: 0px 0px 70px 0px;
}

h1 {
    color: #daad86;
}

em {
    font-style: italic;
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
}

strong {
  color: #daad86;
}

main {
  padding: 10px 20px 20px 20px;
}

li::first-letter {
  color: #daad86;
  font-size: 30px;
}

#slash {
  color: #daad86;
  font-size: 50px;
}

ul {
  list-style-type: circle;
}

footer {
  background: white;
  color: #daad86;
  padding: 10px 10px 10px 10px;
}

#team {
    margin: auto;
    background: white;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    border: 1px solid #312c32;
}

#divAvailable {
  margin: 0px auto;
  display: block;
  text-align: center;
  color: #daad86;
  font-size: 13px;
}

/* unvisited link */
a:link {
    color: #daad86;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #daad86;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: brown;
}

/* selected link */
a:active {
    color: brown;
}

/* Zoom Out */
#divCommingSoon figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
/*
#divCommingSoon figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}
*/
/* Flashing */
#divCommingSoon figure:hover img {
  -webkit-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

#wrapper {
  margin: 50px;
  padding: 5px;
  border: 20px solid #DAA520;
  border-radius: 29px 29px 29px 29px;
  -moz-border-radius: 29px 29px 29px 29px;
  -webkit-border-radius: 29px 29px 29px 29px;
}
